# Ignore VS and mac files
.vscode
.DS_Store

# Ignore in-progress documentation
*.docx

# Ignore output files
*.out

# Ignore database-produced files
*.data
*.meta
*.bpindexconf
*.bpindex

# Temporarily ignore main, where tests are being carried
Main.cpp
